{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
	body {
		display: none;
		opacity: 0;
		transition: opacity 0.5s ease-out;
	}

	.btn-primary {
		background-color: #4b2e83 !important;
		margin-top: 10px;

	}

	.btn-secondary {
		background-color: #85754d !important;
		margin-top: 10px;
	}

	.pagination {
		--bs-pagination-active-bg: #4b2e83 !important;
	}

	.pagination>.active>a {
		background-color: #4b2e83 !important;
		color: white !important;
	}

	a {
		color: #4b2e83 !important;
	}

	.sorting {
		font-size: 15px;
		line-height: 15px;
		/* spac */
		color: #4b2e83 !important;
		opacity: 1 !important;
	}

	.filter-container {
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
		border: 1px solid #ccc;
		/* Optional: for container border */
		border-radius: 5px;
		/* Optional: for rounded corners */
	}

	.filter-field {
		flex: 1 1 48%;
		/* Adjust this to control the width */
		box-sizing: border-box;
		padding: 5px;
		/* Adjust the spacing between fields */
	}

	.filter-field input,
	.filter-field select {
		width: 100%;
		/* Make input take full width of the container */
		padding: 5px;
		margin: 5px 0;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.clear-search-btn {
		margin-top: 10px;
		background-color: #85754d;
		color: white;
	}

	#customSearchBox {
		visibility: hidden;
		/* Hide it initially */
	}
</style>

<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" href='/searchtool/templates/style/customstyle.css'> -->
	<link rel='stylesheet'
		href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<div class="col-lg-10" style="height: max-content;">
	<div class="row" id="basicSearch" style="display:none;">
		<div class="col">
			<div class="card card-body">
				<form method="get" id="search-form" action="{% url 'search' %}">
					<div class="filter-container">
						{% for field in myFilter.form %}
						<div class="filter-field">
							{{ field.label_tag }} {{ field }}
						</div>
						{% endfor %}
					</div>
					<button class="btn btn-primary" type="submit">
						Search
					</button>
					<button id="clear-search" class="btn clear-search-btn" type="button">
						Clear Search
					</button>
				</form>
			</div>
		</div>
		<br>
	</div>
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<div id="customSearchContainer" class="mb-3">
					<input type="text" id="customSearchBox" placeholder="Search..." class="form-control">
				</div>
				<table class="table responsive" id="sort" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>
								<input type="checkbox" id="selectAllCheckbox" aria-label="Select All">
							</th>
							<th>Translation Title</th>
							<th>Korean Title</th>
							<th>Author (Kor)</th>
							<th>Author (Eng)</th>
							<th>Translator</th>
							<th>Source</th>
							<th>Publisher</th>
							<th>Year</th>
							<th>Genre</th>
							<th>Search</th>
						</tr>
					</thead>
					<tbody>
						{% for record in records %}
						<tr>
							<td><input type="checkbox" class="record-checkbox" value="{{ record.id }}"></td>
							<!-- Translation Title -->
							{% if record.workTitle == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.workTitle }}</td>
							{% endif %}

							<!-- Korean Title -->
							{% if record.workTitleKorean == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.workTitleKorean }}</td>
							{% endif %}

							<!-- Author Korean -->
							{% if record.authorKorean == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.authorKorean }}</td>
							{% endif %}

							<!-- Author English -->
							{% if record.authorEnglish == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.authorEnglish }}</td>
							{% endif %}

							<!-- Translator -->
							{% if record.translator == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.translator }}</td>
							{% endif %}

							<!-- Source -->
							{% if record.sourceTitle == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.sourceTitle }}</td>
							{% endif %}

							<!-- Publisher -->
							{%if record.publisher == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.publisher }}</td>
							{% endif %}

							<!-- Year -->
							{%if record.year == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.year }}</td>
							{% endif %}

							<!-- Genre -->
							{% if record.genre == "nan" %}
							<td></td>
							{% else %}
							<td>{{ record.genre }}</td>
							{% endif %}

							<!-- WorldCat Search -->
							<td class="d-flex justify-content-center" style="border-bottom: 0px;">
								<a href="https://worldcat.org/search?q={{ record.sourceTitle }}+{{ record.publisher }}+{{ record.year }}"
									target="_blank">
									<img src="{% static 'searchtool/WorldCat Icon33.svg' %}" alt="WorldCat Icon"
										width="20" height="20" fill="currentColor" class="bi bi-link-45deg"
										viewBox="0 0 20 20">
								</a>
								<a href="{% if record.InfoLink %}{{ record.InfoLink }}{% else %}https://www.google.com/search?tbo=p&tbm=bks&q=intitle:{{ record.sourceTitle|urlencode }}{% endif %}" target="_blank">
									<img src="{% static 'searchtool/Google icon.svg' %}" alt="Google Books Icon" width="18" height="18" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 18 18">
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
		<script src="{% static 'js/jquery.mark.min.js' %}"></script>
		<script>
			function showDiv() {
				var basicSearch = $('#basicSearch');
				var advSearchBtn = $('#AdvSearch');

				if (basicSearch.css('display') === "none") {
					basicSearch.show();
					advSearchBtn.addClass('btn-secondary').removeClass('btn-primary').text("Back to Search");
				} else {
					basicSearch.hide();
					advSearchBtn.addClass('btn-primary').removeClass('btn-secondary').text("Advanced Search");
				}
			}

			$(document).ready(function () {
				// Use jQuery to get the script and ensure it's loaded before initializing the table
				$.getScript("{% static 'js/jquery.mark.min.js' %}", function () {
					// Initialize DataTable
					var table = $('#sort').DataTable({
						"dom": '<"top"i>rt<"bottom"lp><"clear">',
						"pageLength": 100,
						"lengthMenu": [50, 100, 200, 300, 400, 500],
						"columnDefs": [
							{ "orderable": false, "targets": 0 } // Disables sorting on the first column
						]
					});

          $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
            var searchValue = $('#customSearchBox').val().trim().toLowerCase();
            if (!searchValue) {
                return true;
            }

            if (searchValue.includes("-")) {
              var searchWords = [searchValue.replace("-", " "), searchValue];
            } else {
              var searchWords = [searchValue, searchValue.replace(" ", "-")];
            }

            var rowContainsAllWords = false;
            for (var i = 0; i < data.length; i++) {
              var rowData = data[i].toLowerCase().replace("-", " ")
              var allWordsPresent = searchWords.some(function(word) {
                return rowData.includes(word);  
              });
              if (allWordsPresent) {
                  rowContainsAllWords = true;
                  break; 
              }
            }

            return rowContainsAllWords;
          });

					$('#customSearchBox').on('keyup', function () {
						table.draw();
					});

					table.on('draw', function () {
						var searchValue = $('#customSearchBox').val().trim();
            if (searchValue.includes("-")) {
              var searchWords = [searchValue.replace("-", " "), searchValue];
            } else {
              var searchWords = [searchValue, searchValue.replace(" ", "-")];
            }
						$('#sort tbody').unmark().mark(searchWords, {"accuracy": "exactly"});

					});

					// Apply styles using jQuery for consistency and simplicity
					// Update styles for form controls
					$(".form-control, .form-control-sm").css({
						"background-color": "#FFFFFF" // Set background to white
					});

					// Ensure placeholder is set for any form-control element if not specifically targeting
					$(".form-control, .form-control-sm").attr("placeholder", "Search for any key word");

					// Insert "Search:" text before the search box
					if ($('#customSearchBox').prev('label.search-label').length === 0) {

              {% if is_request_params_empty %}
                $('<label class="search-label" for="customSearchBox">Search:</label>')
                  .css({
                    "margin-bottom": "0",
                    "margin-right": "10px",
                    "font-size": "1em",
                    "font-weight": "bold",
                    "color": "#FFFFFF",
                  }).insertBefore('#customSearchBox');
              {% else %}
                $('<label class="search-label" for="customSearchBox">Search within Search:</label>')
                  .css({
                    "margin-bottom": "0",
                    "margin-right": "10px",
                    "font-size": "1em",
                    "font-weight": "bold",
                    "color": "#FFFFFF",
                    "width": "12%"
                  }).insertBefore('#customSearchBox');
              {% endif %}
					}

					// Ensure the search box and its label are in the same inline column
					$('#customSearchBox').parent().css({
						"display": "flex",
						"align-items": "center",
						"background-color": "#4b2e83",
						"padding": "10px",
						"border-radius": "5px"  // This ensures vertical alignment if needed
					});

					$('#exampleModalCenter').on('shown.bs.modal', function () {
						$('#myInput').trigger('focus');
					});

					// Simplified clear search event handling
					$('#clear-search').click(function (event) {
						event.preventDefault();
						$('#search-form').find('input[type="text"], select').val('').submit();;
            // $('#search-form').submit();
					});
				});
				$('#selectAllCheckbox').change(function () {
					var isChecked = $(this).is(':checked');
					$('.record-checkbox').prop('checked', isChecked);
				});
			});

			document.addEventListener('DOMContentLoaded', function () {
				document.body.style.display = 'block';
				document.body.style.opacity = 1;
				var searchForm = document.getElementById('search-form');
				var csrfToken = '{{ csrf_token }}';
				document.getElementById('exportSelected').addEventListener('click', function () {
					var selectedIds = [];
					document.querySelectorAll('.record-checkbox:checked').forEach(function (checkbox) {
						selectedIds.push(checkbox.value);
					});

					if (selectedIds.length > 0) {
						var form = document.createElement('form');
						form.method = 'POST';
						form.action = '{% url "export_selected_to_excel" %}';
						form.innerHTML = '<input type="hidden" name="csrfmiddlewaretoken" value="' + csrfToken + '">';
						selectedIds.forEach(function (id) {
							var input = document.createElement('input');
							input.type = 'hidden';
							input.name = 'selected_ids';
							input.value = id;
							form.appendChild(input);
						});
						document.body.appendChild(form);
						form.submit();
					} else {
						alert('Please select at least one item.');
					}
				});
				searchForm.addEventListener('submit', function (event) {
					event.preventDefault(); // Prevent the form from submitting the traditional way

					var formElements = searchForm.elements;
					var searchParams = new URLSearchParams();

					// Iterate through form elements
					for (var i = 0; i < formElements.length; i++) {
						var element = formElements[i];
						var name = element.name;
						var value = element.value;

						// Add only non-empty values to the search parameters
						if (value && name) {
							searchParams.append(name, value);
						}
					}

					// Get the form's action attribute
					var formAction = searchForm.getAttribute('action') || '/searchtool/search/'; // Provide a default path if null

					// Construct the new URL
					var newActionUrl = formAction + "?" + searchParams.toString();

					// Redirect to the new URL
					window.location.href = newActionUrl;
				});
				window.addEventListener('load', function () {
					document.getElementById('customSearchBox').style.visibility = 'visible';
				});
			});
		</script>

	</div>
</div>
<div class="col-lg-2">
	<div class="row">
		<button type="button" id="AdvSearch" class="btn btn-primary" onclick="showDiv()">Advanced Search</button>
		<div class="col">
			<h4>Authors Korean</h4>
			<div class="card card-body overflow-auto" style="height: 250px;">
				<ul>
					{% for krName in NamesKr %}
					<a class="row" href="{% url 'search' %}?authorKorean={{krName}}">{{krName}}</a>
					{% endfor %}
				</ul>
			</div>
			<h4>Authors English</h4>
			<div class="card card-body overflow-auto" style="height: 250px; margin-bottom: 15px;">
				<ul>
					{% for engName in NamesEng %}
					<a class="row" href="{% url 'search' %}?authorEnglish2={{engName}}">{{engName}}</a>
					{% endfor %}
				</ul>
			</div>
		</div>
		<button id="exportSelected" class="btn btn-primary">Export Selected</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
			New Record
		</button>
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">New record request form</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Form to fill and request the new record will appear here soon!!
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}